{% if item.name is defined %}
name: {{ item.name }}
{% endif %}
startDate: '{{ item.startdate }}'
{% if item.enddate is defined %}
endDate: '{{ item.enddate }}'
{% endif %}
type: {{ item.type }}
{% if item.length is defined %}
length: {{ item.length }}
{% endif %}
participants:
{% if item.users is defined %}
{% for users in item.users.split(';') %}
  - type: user
    username: '{{ users }}'
{% endfor %}
{% else %}
  - type: none
{% endif %}
timeRestriction:
  type: time-of-day
  restriction:
    startHour: '{{ item.tr_starthour }}'
    startMin: '{{ item.tr_startmin }}'
    endHour: '{{ item.tr_endhour }}'
    endMin: '{{ item.tr_endmin }}'
