{% if item.0.name is defined %}
name: {{ item.0.name }}
{% endif %}
startDate: '{{ item.0.startdate }}'
{% if item.0.enddate is defined %}
endDate: '{{ item.0.enddate }}'
{% endif %}
type: {{ item.0.type }}
{% if item.0.length is defined %}
length: {{ item.0.length }}
{% endif %}
participants:
{% if item.0.users is defined %}
{% for users in item.0.users.split(';') %}
  - type: user
    username: '{{ users }}'
{% endfor %}
{% else %}
  - type: none
{% endif %}
timeRestriction:
  type: time-of-day
  restriction:
    startHour: '{{ item.0.tr_starthour }}'
    startMin: '{{ item.0.tr_startmin }}'
    endHour: '{{ item.0.tr_endhour }}'
    endMin: '{{ item.0.tr_endmin }}'

