name: '{{ item.name }}'
{% if item.description is defined %}
description: '{{ item.description }}'
{% endif %}
{% if item.timezone is defined %}
timezone: '{{ item.timezone }}'
{% endif %}
{% if item.enabled is defined %}
enabled: '{{ item.enabled }}'
{% endif %}
ownerTeam:
  name: '{{ item.teamname }}'
